  

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="headerType===1">
    <a class="navbar-brand" routerLink="" >Test Yourself</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="loggedIn">
          <a class="nav-link" routerLink="{{dash}}">Dashboard <span class="sr-only"></span></a>
        </li>
        <div *ngIf="loggedIn"><li class="nav-item" >
          <a routerLink="" class="nav-link" (click)="logout()" >Logout</a>
        </li></div>
        <div *ngIf="!loggedIn"><li class="nav-item" >
            <a routerLink="/login" role="button"  class="nav-link" >Login</a>
          </li>
          </div>
        <li class="nav-item" *ngIf="isSU">
          <a class="nav-link" routerLink="/register-admin" href="#">Add Admin</a>
        </li>
        <li class="nav-item" *ngIf="isSU">
            <a class="nav-link" routerLink="/register-user" href="#">Add User</a>
          </li>
          </ul>
    </div>
  </nav>
  <div>

  </div>    

