<div class="container text-bg-dark">
    <div class="h2">Hi {{currentUser.username}},<h3 class="h4"> Welcome to the Dashboard, Here you can add, delete, remove Admins and Users</h3></div>
<div class="row">
<div class="col">
    <div class="h3">List of Users <button class="btn btn-warning" (click)="addUser()">Add</button></div>
    <div class="card my-3" style="width: 28rem;" *ngFor="let user of allUsers">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>User Name:</b> {{user.user.username}}</li>
          <li class="list-group-item"><b>First Name:</b> {{user.firstName}}</li>
          <li class="list-group-item"><b>Last Name:</b> {{user.lastName}}</li>
          <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
          <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <button class="btn btn-warning" (click)="editUser(user)">Edit</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger"(click)="deleteUser(user)">Delete </button>
                </div>
            </div>

          </li>
        </ul>
      </div>
    
</div>
<div class="col">
    <div class="h3">List of Admins <button class="btn btn-warning" (click)="addAdmin()">Add</button></div>
    <div class="card my-3" style="width: 28rem;" *ngFor="let user of allAdmins">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>User Name:</b> {{user.user.username}}</li>
            <li class="list-group-item"><b>First Name:</b> {{user.firstName}}</li>
            <li class="list-group-item"><b>Last Name:</b> {{user.lastName}}</li>
            <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-warning" (click)="editUser(user)">Edit</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger"(click)="deleteUser(user)">Delete </button>
                    </div>
                </div>
    
              </li>
        </ul>
      </div>
    
</div>
</div>
</div>
