<header></header>
<div class="container mt-5">
   
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Manage Topics</h5>
                    <p class="card-text">Click below to manage topics.</p>
                    <a routerLink="/admin/topics" class="btn btn-primary btn-lg">Topics</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Click below to manage users.</p>
                    <a routerLink="/admin/users" class="btn btn-primary btn-lg">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>